<h2>Title: <%= @movie.title %></h2>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>
  <% @movie.actors.beauty_before_age.each_with_index do |actor, index| %>
  <div id="actors-<%= index %>">
    <h3>Actor: <%= actor.name %></h3>
    <p>Age: <%= actor.age %></p>
  <% end %>
  </div>
<p>Average Age of Cast: <%= @movie.average_age %></p>

<%= form_with url: "/movies/#{@movie.id}?search=#{params[:search]}", method: :get, local: true, skip_enforcing_utf8: true do |form| %>
  <%= form.label :search, 'Find Actor' %>
  <%= form.text_field :search %>
  <%= form.submit 'Search', name: nil %>
<% end %>
<% if params[:search].present? %>
  <% @actors.each do |actor| %>
  <h3><%= actor.name %></h3>
   <%= button_to "Add #{actor.name}", "/movies/#{@movie.id}", method: :post, params: {actor_id: actor.id} %>
<% end %>
<% end %>
